@import '../shared.scss';

.Search-Bar {
  &-form {
    &-search {
      width: 100%;
      padding: 0.5rem;
      background-color: $light-gray;
      color: $dark-gray;
      border: none;
      outline: none;
    }
  }
}