@import '../shared.scss';

.Repos {
  width: 100%;

  &-repo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;

    &-icon {
      margin-left: 0.5rem;
      margin-right: 1rem;

      &.stay {
        position: relative;
        top: 2px;
      }
      svg {
        fill: $white;
      }
    }
    &-name {
      margin: 0.25rem 0;
      line-height: 1.5rem;
      color: lighten($primary, 15);

      &:link, &:visited, &:hover, &:active {
        color: lighten($primary, 15);
      }
    }
    &-stars {
      padding-top: 0.25rem;
      margin-bottom: 4px;
      margin-left: 0.5rem;
      color: $white;
    }
    &-updated {
      margin-left: auto;
      margin-right: 0.5rem;
      text-align: right;
      color: $white;
    }
    &-languages {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      width: 100%;

      &-lang {
        margin-top: 0.5rem;
        margin-left: 0.5rem;
        border-width: 1px;
        border-style: solid;
        border-radius: 4px;
        color: $white;
        font-size: 11px;
        text-transform: lowercase;
        padding: 0.3rem 0.5rem;
      }
    }
    &:nth-child(even) {
      background-color: rgba($dark-gray, 0.87);

      &:hover {
        background-color: rgba($dark-gray, 0.57);
      }
    }
    &:nth-child(odd) {
      background-color: $dark-gray;

      &:hover {
        background-color: rgba($dark-gray, 0.7);
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .Repos {
    &-repo {
      &-updated {
        max-width: 120px;
        margin-left: 0.5rem;
        text-align: left;
        font-size: 14px;
      }
      &-languages {
        justify-content: flex-start;
        margin-top: 0.5rem;
      }
    }
  }
}
