/* VARIABLES */
/* ANIMATONS */
@keyframes line-move {
  0% {
    left: -25%; }
  100% {
    left: 100%; } }

.Repos {
  width: 100%; }
  .Repos-repo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer; }
    .Repos-repo-icon {
      margin-left: 0.5rem;
      margin-right: 1rem; }
      .Repos-repo-icon.stay {
        position: relative;
        top: 2px; }
      .Repos-repo-icon svg {
        fill: #fff; }
    .Repos-repo-name {
      margin: 0.25rem 0;
      line-height: 1.5rem;
      color: #54b2c5; }
      .Repos-repo-name:link, .Repos-repo-name:visited, .Repos-repo-name:hover, .Repos-repo-name:active {
        color: #54b2c5; }
    .Repos-repo-stars {
      padding-top: 0.25rem;
      margin-bottom: 4px;
      margin-left: 0.5rem;
      color: #fff; }
    .Repos-repo-updated {
      margin-left: auto;
      margin-right: 0.5rem;
      text-align: right;
      color: #fff; }
    .Repos-repo-languages {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      width: 100%; }
      .Repos-repo-languages-lang {
        margin-top: 0.5rem;
        margin-left: 0.5rem;
        border-width: 1px;
        border-style: solid;
        border-radius: 4px;
        color: #fff;
        font-size: 11px;
        text-transform: lowercase;
        padding: 0.3rem 0.5rem; }
    .Repos-repo:nth-child(even) {
      background-color: rgba(52, 54, 66, 0.87); }
      .Repos-repo:nth-child(even):hover {
        background-color: rgba(52, 54, 66, 0.57); }
    .Repos-repo:nth-child(odd) {
      background-color: #343642; }
      .Repos-repo:nth-child(odd):hover {
        background-color: rgba(52, 54, 66, 0.7); }

@media screen and (max-width: 480px) {
  .Repos-repo-updated {
    max-width: 120px;
    margin-left: 0.5rem;
    text-align: left;
    font-size: 14px; }
  .Repos-repo-languages {
    justify-content: flex-start;
    margin-top: 0.5rem; } }
