/* VARIABLES */
/* ANIMATONS */
@keyframes line-move {
  0% {
    left: -25%; }
  100% {
    left: 100%; } }

.Stats {
  width: calc(40% - 3rem);
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem; }
  .Stats > div {
    display: flex;
    flex-wrap: wrap; }
    .Stats > div > span {
      display: flex;
      align-items: center;
      margin: 0.5rem;
      padding: 0.5rem 1rem;
      background-color: #343642;
      color: #fff;
      border-radius: 4px;
      cursor: pointer; }
      .Stats > div > span > b {
        margin-left: 0.5rem; }
      .Stats > div > span:hover > b {
        color: #348899; }
  .Stats-icon {
    position: relative;
    top: 2px;
    margin-right: 1rem; }
  .Stats-repos > a:link, .Stats-repos > a:visited, .Stats-repos > a:active, .Stats-gists > a:link, .Stats-gists > a:visited, .Stats-gists > a:active, .Stats-following > a:link, .Stats-following > a:visited, .Stats-following > a:active, .Stats-followers > a:link, .Stats-followers > a:visited, .Stats-followers > a:active {
    color: #fff;
    text-decoration: none; }
  .Stats-repos > a:hover > b, .Stats-gists > a:hover > b, .Stats-following > a:hover > b, .Stats-followers > a:hover > b {
    color: #348899;
    text-decoration: none; }

@media screen and (max-width: 940px) {
  .Stats {
    width: 100%; } }
