@import '../shared.scss';

.User-Meta {
  position: relative;
  display: flex;
  width: calc(60% - 3rem);
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;

  &-available {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    font-weight: 600;
    font-family: 'Advent Pro', sans-serif;

    &-container {
      display: flex;

      > div {
        position: relative;
        top: 2px;
        margin-right: 0.5rem;
      }
    }
  }
  &-profile {
    margin-right: 2rem;

    &-picture {
      height: 160px;
      width: 160px;
      border-radius: 4px;
    }
    &-name {
      margin-top: 0.5rem;
      margin-bottom: -1rem;
      font-weight: 700;
      font-size: 1.1rem;
      text-align: center;
    }
    &-username {
      text-align: center;
  
      > a {
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 1rem;
  
        &:link, &:visited, &:hover, &:active {
          color: $dark-gray;
          text-decoration: none;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  &-info {
    overflow: auto;
    
    > p {
      text-align: left;
    }
    &-email {
      margin-bottom: 0;
      word-break: break-word;

      > span {
        font-weight: 600;
      }
    }
    &-company {
      margin-top: 0.25rem;
      word-break: break-word;

      > span {
        font-weight: 600;
      }
    }
    &-bio {
      margin-bottom: 0;
    }
    &-location {
      display: flex;
      margin-top: 1rem;

      > div {
        margin-right: 0.5rem;
      }
      > a {
        &:link, &:visited, &:active {
          color: $black;
          text-decoration: none;
        }
        &:hover {
          color: $black;
          text-decoration: underline
        }
      }
      &:hover {
        > div > svg {
          fill: $primary;
        }
      }
    }
    &-website {
      color: lighten($primary, 15);
      white-space: nowrap; 
      overflow: hidden;
      text-overflow: ellipsis;

      > a {
        font-weight: 600;
        
        &:link, &:visited, &:hover, &:active {
          color: lighten($primary, 15);
        }
      }
    }
  }
}

@media screen and (max-width: 940px) {
  .User-Meta {
    width: calc(100% - 3rem);

    &-info {
      > p {
        max-width: none;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .User-Meta {
    flex-direction: column;
    align-items: center;
    width: 100%;

    &-available {
      position: relative;
      top: 0;
      right: 0;
      margin-bottom: 1rem;
    }
    &-profile {
      margin-right: 0;
    }
    &-info {
      margin-top: 1rem;
    }
  }
}