@import '../shared.scss';

.Stats {
  width: calc(40% - 3rem);
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;

  > div {
    display: flex;
    flex-wrap: wrap;

    > span {
      display: flex;
      align-items: center;
      margin: 0.5rem;
      padding: 0.5rem 1rem;
      background-color: $dark-gray;
      color: $white;
      border-radius: 4px;
      cursor: pointer;

      > b {
        margin-left: 0.5rem;
      }
      &:hover {
        > b {
          color: $primary;
        }
      }
    }
  }
  &-icon {
    position: relative;
    top: 2px;
    margin-right: 1rem;
  }
  &-repos, &-gists, &-following, &-followers {
    > a {
      &:link, &:visited, &:active {
        color: $white;
        text-decoration: none;
      }
      &:hover {
        > b {
          color: $primary;
          text-decoration: none;
        }
      }
    }
  }
}

@media screen and (max-width: 940px) {
  .Stats {
    width: 100%;
  }
}
