/* VARIABLES */
/* ANIMATONS */
@keyframes line-move {
  0% {
    left: -25%; }
  100% {
    left: 100%; } }

.User-Meta {
  position: relative;
  display: flex;
  width: calc(60% - 3rem);
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem; }
  .User-Meta-available {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    font-weight: 600;
    font-family: 'Advent Pro', sans-serif; }
    .User-Meta-available-container {
      display: flex; }
      .User-Meta-available-container > div {
        position: relative;
        top: 2px;
        margin-right: 0.5rem; }
  .User-Meta-profile {
    margin-right: 2rem;
    position: relative; }
    .User-Meta-profile-picture {
      height: 160px;
      width: 160px;
      border-radius: 4px; }
    .User-Meta-profile-name {
      margin-top: 0.5rem;
      margin-bottom: -1rem;
      font-weight: 700;
      font-size: 1.1rem;
      text-align: center; }
    .User-Meta-profile-username {
      text-align: center; }
      .User-Meta-profile-username > a {
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 1rem; }
        .User-Meta-profile-username > a:link, .User-Meta-profile-username > a:visited, .User-Meta-profile-username > a:hover, .User-Meta-profile-username > a:active {
          color: #343642;
          text-decoration: none; }
        .User-Meta-profile-username > a:hover {
          text-decoration: underline; }
    .User-Meta-profile-action-email {
      display: flex;
      justify-content: center; }
      .User-Meta-profile-action-email button {
        border: none;
        border-radius: 4px;
        padding: 5px 10px;
        color: #fff;
        background-color: #348899;
        font-size: 1rem;
        cursor: pointer; }
    .User-Meta-profile-url-copy-btn {
      position: absolute;
      top: 0;
      right: 0;
      background: none;
      border: 0;
      border-radius: 4px;
      display: flex;
      align-items: center;
      padding: .4em;
      margin: .25em;
      cursor: pointer;
      font-size: 1em;
      text-align: center;
      background-color: #343642;
      color: #fff; }
    .User-Meta-profile-url-textarea {
      position: absolute;
      left: -9999em; }
    .User-Meta-profile-url-copy-success {
      padding-left: .5em;
      line-height: 1em; }
  .User-Meta-info {
    overflow: auto; }
    .User-Meta-info > p {
      text-align: left; }
    .User-Meta-info-email {
      margin-bottom: 0;
      word-break: break-word; }
      .User-Meta-info-email > span {
        font-weight: 600; }
    .User-Meta-info-company {
      margin-top: 0.25rem;
      word-break: break-word; }
      .User-Meta-info-company > span {
        font-weight: 600; }
    .User-Meta-info-bio {
      margin-bottom: 0; }
    .User-Meta-info-location {
      display: flex;
      margin-top: 1rem; }
      .User-Meta-info-location > div {
        margin-right: 0.5rem; }
      .User-Meta-info-location > a:link, .User-Meta-info-location > a:visited, .User-Meta-info-location > a:active {
        color: #000;
        text-decoration: none; }
      .User-Meta-info-location > a:hover {
        color: #000;
        text-decoration: underline; }
      .User-Meta-info-location:hover > div > svg {
        fill: #348899; }
    .User-Meta-info-website {
      color: #54b2c5;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
      .User-Meta-info-website > a {
        font-weight: 600; }
        .User-Meta-info-website > a:link, .User-Meta-info-website > a:visited, .User-Meta-info-website > a:hover, .User-Meta-info-website > a:active {
          color: #54b2c5; }
  .User-Meta-email-popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(52, 54, 66, 0.7);
    z-index: 1; }
    .User-Meta-email-popup > div {
      width: 480px;
      max-width: 82%;
      background-color: #fff;
      border-radius: 4px; }
    .User-Meta-email-popup-header {
      padding: 1rem;
      border-bottom: 1px solid #EFEFEF; }
      .User-Meta-email-popup-header-title {
        margin: 0; }
    .User-Meta-email-popup-body {
      padding: 1rem; }
      .User-Meta-email-popup-body .form-field {
        box-sizing: border-box;
        width: 100%;
        padding: 0.5rem;
        background-color: #EFEFEF;
        color: #343642;
        font-size: 1rem;
        border: none;
        outline: none;
        margin-top: 1rem; }
    .User-Meta-email-popup-footer {
      padding: 1rem;
      text-align: right;
      border-top: 1px solid #EFEFEF; }
      .User-Meta-email-popup-footer-button-submit, .User-Meta-email-popup-footer-button-cancel {
        border: none;
        border-radius: 4px;
        padding: 5px 10px;
        font-size: 1rem;
        cursor: pointer;
        margin-left: 10px; }
      .User-Meta-email-popup-footer-button-submit {
        color: #fff;
        background-color: #348899;
        border: 1px solid #348899; }
        .User-Meta-email-popup-footer-button-submit > div {
          margin-left: 0.5rem;
          display: inline-block; }
          .User-Meta-email-popup-footer-button-submit > div > svg {
            animation: Loading-spin infinite 2s linear; }
        .User-Meta-email-popup-footer-button-submit:disabled {
          border: 1px solid #999999;
          background-color: #cccccc;
          color: #666666;
          cursor: not-allowed; }
      .User-Meta-email-popup-footer-button-cancel {
        color: #000;
        background-color: #EFEFEF;
        border: 1px solid #EFEFEF; }

@media screen and (max-width: 940px) {
  .User-Meta {
    width: calc(100% - 3rem); }
    .User-Meta-info > p {
      max-width: none; } }

@media screen and (max-width: 480px) {
  .User-Meta {
    flex-direction: column;
    align-items: center;
    width: 100%; }
    .User-Meta-available {
      position: relative;
      top: 0;
      right: 0;
      margin-bottom: 1rem; }
    .User-Meta-profile {
      margin-right: 0; }
    .User-Meta-info {
      margin-top: 1rem; } }
