@import '../shared.scss';

.Search-Bar {
  font-family: 'Open Sans', sans-serif;
  
  &-form {
    flex-grow: 1;
    padding: 0.25rem;

    &-search {
      width: calc(100% - 1rem);
      padding: 0.5rem;
      background-color: $light-gray;
      color: $dark-gray;
      font-size: 1rem;
      border: none;
      outline: none;
    }
  }
}