@import './shared.scss';

* {
  transition: 200ms ease-in-out;
}

html, body {
  min-width: 320px;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, button {
  font-family: 'Advent Pro', sans-serif;
  font-weight: 600;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;

  + .row {
    margin-top: -0.5rem;
  }
}
.col {
  margin: 0.5rem;
  background-color: $light-gray;
  padding: 1rem;
  border-radius: 4px;
}

.App {
  &-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 110px;
    padding: 20px;
    background-color: rgba($dark-gray, 0.9);
    color: $white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
  
    a {
      &:link, &:visited, &:hover, &:active {
        color: $white;
        text-decoration: none;
      }
    }
    &-title {
      display: inline-block;
      margin: 0.5rem 0;
    }
    > div {
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;

      &:first-child {
        margin-right: 1.5rem;
      }
      > img {
        height: 75px;
        width: auto;
      }
    }
    h1, h3 {
      margin: 0.25rem;
    }
    h1 {
      font-size: 1.6rem;
    }
    h3 {
      font-size: 1.3rem;
    }
  }
  &-container {
    min-height: calc(100vh - 90px);
    max-width: 1140px;
    margin: 0 auto;
    padding: 1rem;
  }
  &-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 175px;
    background-color: rgba($dark-gray, 0.9);
    color: $white;

    &-list {
      display: flex;
      list-style: none;

      a {
        display: inline-block;
        margin: 0.25rem 0;

        &:first-of-type {
          margin-top: 0.5rem;
        }
        &:link, &:visited, &:hover, &:active {
          color: lighten($primary, 15);
        }
      }
    }
    &-github {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 1rem;
      margin-left: 2.5rem;

      > span {
        margin-right: 1rem;
      }
      > img {
        animation: Home-logo-spin infinite 20s linear;
        height: 50px;
        width: auto;
      }
    }
    &-logo {
      margin: 0 1.5rem 1rem auto;

      > img {
        height: 55px;
        width: auto;
      }
    }
  }
}

@keyframes Home-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media screen and (max-width: 440px) {
  .App {
    &-header {
      height: 175px;

      &-title {
        width: 100%;
      }
      &-logo {
        position: relative;
        left: -16px;
        margin-top: 0.5rem;
      }
      > div {
        &:first-child {
          margin-right: 0;
        }
      }
    }
  }
}