@import './shared.scss';

* {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6, button {
  font-family: 'Advent Pro', sans-serif;
  font-weight: 600;
}

.Home {
  text-align: center;
  
  &-header {
    background-color: $dark-gray;
    height: 90px;
    padding: 20px;
    color: $white;

    > div {
      display: flex;
      justify-content: center;
      align-items: center;

      > span {
        margin-right: 1rem;
      }
    }
    &-logo {
      animation: Home-logo-spin infinite 20s linear;
      height: 50px;
    }
    &-title {
      margin-top: 0.5rem;
      font-size: 1.5em;
    }
  }
  
  &-container {
    padding: 2rem;
  }
}

@keyframes Home-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@media screen and (max-width: 480px) {
  .Home {
    &-header {
      display: flex;
      justify-content: center;
      height: 52px;
      margin: 0;

      &-logo {
        margin-right: 1rem;
      }
      &-title {
        margin-top: 0;
      }
    }
  }
}
